<div class="hands">

</div>




<section class="animation">
    <img id="nat" src="/assets/nat.png" alt="Natalia">
    <img id="al" src="/assets/al.png" alt="Alex">
    
    <img id="manos" src="/assets/manos.svg" alt="Hands">

    <img id="end" src="/assets/end.png" alt="ending">
</section>


