<div class="hands">

</div>

<section class="animation0 center">

    <h1> i&lt;4u!!!</h1>
    <h4>(scroll down)</h4>

    
</section>


<section class="animation1">
    <div class="caca"></div>
    <!--<img id="nat" src="/assets/nat.png" alt="Natalia">
        
    
    <img id="al" src="/assets/al.png" alt="Alex">
    
    <img id="manos" src="/assets/manos.svg" alt="Hands">

    <img id="end" src="/assets/end.png" alt="ending">-->


    <%= image_tag("nat.png", id: "nat", alt: "Natalia") %>
    <%= image_tag("al.png", id: "al", alt: "Alex") %>
    <% image_tag("manos.svg", id: "manos", alt: "Hands") %>
    <%= image_tag("end.png", id: "end", alt: "ending") %>

    
</section>

<section class="animation2">
    
    
    
    
    <div id="animate1" class="center">
        <h1> The End </h1>
       
    </div>
    
   

    
</section>


