<div class="hands">

</div>




<section class="animation">
    <!--<img id="nat" src="/assets/nat.png" alt="Natalia">

    
    <img id="al" src="/assets/al.png" alt="Alex">
    
    <img id="manos" src="/assets/manos.svg" alt="Hands">

    <img id="end" src="/assets/end.png" alt="ending">-->


    <%= image_tag("nat.png", id: "nat", alt: "Natalia") %>
    <%= image_tag("al.png", id: "al", alt: "Alex") %>
    <% image_tag("manos.svg", id: "manos", alt: "Hands") %>
    <%= image_tag("end.png", id: "end", alt: "ending") %>
</section>

<section class="animation2">

    <div class="spacer s2"></div>
    <div id="trigger1" class="spacer s0"></div>
    
    <div id="animate1" class="box2 skin">
        <h1> WTF </h1>
       
    </div>
    
    <div class="spacer s2"></div>

    
</section>


