// Place all the styles related to the hearts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


header, footer{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

header h1{

    font-size: 60px;
}



.animation{
    //height: 100vh;
    max-width: 320px;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

#al{

    height: 100px;
    position: absolute;
    top: 50%;
    left: -50%;

}

#nat{

    height: 80px;
    position: absolute;
    top: 50%;
    right: -50%;
}

#end{

    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-51%, -69%);
    opacity: 0;
    

}

#manos{
    position: relative;

    max-width: 320px;
    //height: 150vh;
    overflow: hidden;
    margin: 0 auto;
    
    
}