// Place all the styles related to the hearts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.center{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

h1{

    font-size: 60px;
    
}

span{
    display: block;
}


.caca{

    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    min-height: 1px;
    display: inline-block;

}
.animation0{
    //height: 100vh;
    min-width: 100vw;
    height: 100vh;
    
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.animation1{
    //height: 100vh;
    min-width: 100vw;
    height: 100vh;
    text-align: center;
    background-image: linear-gradient(to right, #188d5c 0%, #d81111 100%);
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.animation2{

    min-width: 100vw;
    height: 100vh;
    
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    position: relative;
    overflow: hidden;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-self: center;

}

#al{

    height: 100px;
    position: absolute;
    top: 50%;
    left: -50%;

}

#nat{

    height: 80px;
    position: absolute;
    top: 50%;
    right: -50%;
}

#end{

    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-51%, -69%);
    opacity: 0;
    

}

#manos{
    position: relative;

    max-width: 320px;
    //height: 150vh;
    overflow: hidden;
    margin: 0 auto;
    
    
}


